.SideNav {
  left: 0;
  position: fixed;
  box-sizing: border-box;
  height: 100%;
  width: 300px;
  z-index: 300;
  background-color: #343a40;
  margin-top: 3px;
  transition: width 1s;
  border-right: 1px solid tomato;
}

.Open {
  transform: translateX(0);
}

.Close {
  width: 0px;
  transform: translateX(-100);
}
